@media (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
    .screen-shots .col-sm-10 {
        width: 80.3% !important;
    }

    .screen-shots .col-sm-push-2 {
        left: 10% !important;
    }

    .header .navbar-nav > li > a {

        padding-left: 15px;
        padding-right: 15px;

    }

    .special-list p {
        font-size: 14px;
    }

    .content-special {
        margin-left: -50px;
    }

    .five-reasons {
        padding: 70px 20px;
    }

    .content {
        padding-left: 80px;
    }

    .header {
        padding: 0px 70px 0;
    }
}

@media ( max-width: 991px) {
    .about-image {
        margin-top: 44px;
    }

    .header {
        padding: 0px 30px 0;
    }

    .service-header h1, .aboutus-header h1, .news-header h1, .main-work-header h1 {
        font-size: 58px !important;
    }

    .header-image, .service-header, .main-work-header, .work-header, .aboutus-header, .news-header,#header-video {
        height: 400px
    }

    .service-header, .aboutus-header, .news-header, .main-work-header, .work-header {
        padding: 70px !important;
    }

    .row.text-center.helvetica.be-smarty p {
        padding: 20px 60px;
    }

    .screen-shots .col-sm-push-2 {
        left: 10%;
    }

    .content-special, .number-special {
        transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    .number-special {
        left: 15px;
    }

    h1 {
        font-size: 39px !important;
    }

    .service-header h1, .aboutus-header h1, .news-header h1, .main-work-header h1 {
        font-size: 50px;
    }

    .logo > img {
        margin-top: 15px;
        width: 100%;
    }

    .font-16 {
        font-size: 14px;
    }

    .footer {
        padding: 50px 30px 20px;
    }

    .row.zoneme_header.text-center.white
    .ivq_header, .kidzjet_header, .what-we-do, .services, .about-one-world,
    .back-button, .approch-section, .get-to-know {
        padding: 40px 70px;
    }

    .five-reasons {
        padding: 40px 20px;
    }

    .content-special {
        margin-left: 0px !important;
    }

    .browser-img {
        height: auto;
        max-width: 100% !important;
    }

    .main-work-body {
        height: 500px;
        padding: 70px;
    }

    .wh-section .col-sm-6 {
        height: 350px;
    }

    .form-section {
        padding: 30px;
    }

    .anything-possible img {
        height: 100%;
    }

    .image-sec {
        top: 83%;
    }

    .margin-left-40 {
        margin-left: 30px;
    }

}

/*@media (max-device-width: 779px){*/
/*.five-reasons{*/
/*height: 739px !important;*/
/*}*/
/*}*/
@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .margin-left-40 {
        margin-left: 20px !important;
    }

    .about-image > img {
        margin-right: 10px !important;
        height: 477px !important;

    }

    .five-reasons {
        height: 600px !important;
    }
}

@media (max-width: 780px) {
    .five-reasons {
        height: 1000px;
    }

    .col-sm-8.text-left.col-sm-push-2 {
        left: 0% !important;

    }

    .about-image > img {
        height: 367px;
        width: 400px;
        margin-right: 25%;
    }

    .content-special, .number-special {
        transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    .our-location > div {
        margin-top: 10px;
    }

    .main-work-body {
        padding: 30px;
    }

    .font-16, .row.text-center.helvetica.be-smarty p {
        font-size: 14px;
    }

    .get-to-know h1, .wh-section h1, .from-the-work h1, .bottom-section h1,
    .screen-shots h1, .work-header h1, .services h1, .service-contact h1,
    .about-one-world h1, .get-in-touch h1, .anything-possible h1,
    .wh-sub-section h1, .five-reasons h1, .font-52, .lato-Heavy.text-uppercase.bottom-space, .service-header h1, .aboutus-header h1, .news-header h1, .main-work-header h1 {
        font-size: 25px !important;
    }

    .get-to-know, .get-in-touch {
        padding: 30px 40px;
    }

    .wh-section .col-sm-6 {
        height: 300px;
    }

    .dark-blue p, .red p {
        padding-left: 0%;
    }

    .orange p, .green p {
        padding-right: 0%;
    }

    h1 {
        font-size: 30px !important;
    }

    .get-to-know h2 {
        font-size: 20px;
    }

    .header-image, .service-header, .aboutus-header, .news-header, .main-work-header,#header-video {
        height: 225px;
    }

    .work-header {
        height: 300px;
    }

    .service-header, .aboutus-header, .news-header, .work-header, .main-work-header {
        padding: 50px !important;
    }

    .services .max-full-width {
        height: 250px;
    }

    .anything-possible img {
        width: 100% !important;
    }

    .header .navbar-nav > li > a {
        color: #4d4d4d;
        line-height: 19px;
        padding-left: 5px;
        padding-right: 5px;

        font-size: 13px;
    }

    .qet_quote {
        margin-top: 8px;
    }

    .font-18 {
        font-size: 14px !important;
    }

    .browser-img {
        height: 240px;
        max-width: 100%;
    }

    .our-location h3, .main-work-body h4 {
        font-size: 14px !important;
        padding-bottom: 0px;
    }

    .blue-navigation, .challenge-solution, .one-wold-news, .news-detail {
        padding: 20px 40px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    .blue-navigation {
        height: 120px;
    }

    .content-special, .number-special {
        transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);

    }

    .content-special {
        font-size: 20px;
    }

    .special-list p {
        color: #bbbbbb;
        font-family: helvetica-light;
        font-size: 16px;
    }

    .service-contact {

        height: 150px;
        padding: 20px;
    }

}

@media ( max-width: 450px) {
    .margin-left-40 {
        margin-left: 0px !important;
    }

    .about-image > img {
        margin-right: 2% !important;
        margin-top: 3%;
        max-width: 100% !important;
    }

    .our-location {
        padding: 20px !important;
    }

    .content, .content-special {
        width: 100%;
        padding-left: 60px !important;
    }

    .main-work-body, .work-header, .service-contact {
        padding: 20px !important;
    }

    h1 {
        font-size: 20px !important;
    }

    .browser-img {
        height: 225px;
        max-width: 100%;
    }

    h4 {
        font-size: 14px !important;
    }

    .work-header img {
        width: 125px;
    }

    .header-image, .service-header, .aboutus-header, .news-header, .main-work-header,
    .work-header, .service-contact,#header-video {

        height: 150px;
    }

    .service-header, .aboutus-header, .news-header, .work-header,
    .row.zoneme_header.text-center.white .ivq_header, .kidzjet_header,
    .what-we-do, .services, .about-one-world, .back-button,
    .approch-section, .get-to-know, .wh-sub-section {
        padding: 10px;
    }

    .service-contact {
        height: 150px;
    }

    .get-to-know h2 {
        font-size: 16px;
    }

    h1 {
        font-size: 20px !important;
        margin-top: 2px !important;
        margin-bottom: 1px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    .our-location h3, .main-work-body h4 {
        font-size: 14px;
        padding-bottom: 0px;
    }

    .browser-img {
        /*height: 50%;*/
        /*width: 50%;*/
        margin-top: 20px;
    }

    .font-52, .approch-section .font-52 {
        font-size: 20px !important;
    }

    .anything-possible img {
        width: 100% !important;
    }

    p, a, input, .btn, .font-16, .row.text-center.helvetica.be-smarty p, .services li {
        font-size: 12px !important;
    }

    .challenge-solution {
        padding: 0px !important;
    }

    .be-smarty img {
        margin-top: 0px !important;
    }

    .header {
        padding: 0 40px;
    }

    .row.text-center.helvetica.be-smarty p {
        padding: 20px;
    }

    .logo > img {
        /*margin-top: 0px !important;*/
        width: 100%;
    }

    .get-to-know h1 {
        padding-bottom: 0px !important;
    }

    .special-list p {
        font-size: 14px;
    }

    .content-special {
        font-size: 16px;
    }

    .footer {
        padding: 20px !important;
    }

    .get-to-know h1, .wh-section h1, .from-the-work h1,
    .bottom-section h1, .screen-shots h1, .work-header h1,
    .services h1, .service-contact h1, .about-one-world h1,
    .get-in-touch h1, .anything-possible h1, .wh-sub-section h1,
    .five-reasons h1, .font-52, .lato-Heavy.text-uppercase.bottom-space,
    .service-header h1, .aboutus-header h1, .news-header h1, .main-work-header h1 {
        font-size: 20px !important;
    }

}