/*#detail-img{*/
    /*height: 700px;*/
    /*width: 400px;*/
/*}*/
.widget.sendpress {
    list-style: outside none none;
}
.tnp-profile,.tnp-email{
    background-color: #a6a6a6!important;
    background-image: none!important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    color: #555!important;
    display: block!important;
    font-size: 14px!important;
    height: 34px!important;
    line-height: 1.42857!important;
    padding: 6px 12px!important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s!important;
    width: 100%!important;
}
.tnp-submit{
    background-color: rgb(255, 255, 255) !important;
    width:100%  !important;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
}

#detail-img > img{
    height: 400px;
    width: 700px;
}
.wpcf7{
    text-align: left;
}
.wpcf7 label{
    width: 100% !important;
}
.wpcf7-submit{
    width: 30%;
    margin: auto;
}
@font-face {
    font-family: HelveticaNeue;

    src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {

    font-family: HelveticaMed;

    src: url('../fonts/HelveticaNeue%20Medium.ttf');

}

@font-face {

    font-family: LatoHeavy;

    src: url('../fonts/lato-heavy.ttf');

}

@font-face {

    font-family: MyriadPro-Regular;

    src: url('../fonts/MyriadPro-Regular.otf');

}

@font-face {

    font-family: SourceBlack;

    src: url('../fonts/SourceSansPro-Black.ttf');

}

@font-face {

    font-family: SourceRegular;

    src: url('../fonts/SourceSansPro-Regular.otf');

}

@font-face {

    font-family: helvetica-light;

    src: url('../fonts/HelveticaNeue%20Light.ttf');

}

@font-face {

    font-family: SourceSansPro-Bold;

    src: url('../fonts/SourceSansPro-Bold.otf');

}

.lato-Heavy,.image-sec h1 {
    font-family: LatoHeavy;
}

.helvetica-light, .specila-list > li {
    font-family: helvetica-light;
}

.HelveticaMed,.services p {
    font-family: HelveticaMed;
}

.bottom-section p, .zoneme_header h4, .ivq_header h4, .ivq_header h1, .kidzjet_header h1 {
    font-family: SourceRegular;
    font-size: 20px;
}

.what-we-do p, .services h3, .get-in-touch .blue-text,
.one-wold-news p, .news-detail p, .sourceRegular {
    font-family: SourceRegular;
}

.get-to-know h1, .wh-section h1, .from-the-work h1,
.bottom-section h1, .screen-shots h1, .work-header h1,
.services h1, .service-contact h1, .about-one-world h1,
.get-in-touch h1, .anything-possible h1, .wh-sub-section h1, .five-reasons h1{
    font-size: 52px;
}


.helvetica, .get-to-know h2, .grey-text, .from-the-work h1 {
    font-family: HelveticaNeue;
}

.services p {
    font-weight: 500;
}

.bottom-section h1, .zoneme_header h1, .challenge-solution h3,
.screen-shots h1, .blue-navigation h3, .service-header h1, .what-we-do h1, .aboutus-header h1,
.what-we-do h3, .service-contact h1, .news-header h1, .one-wold-news h4, .one-wold-news .grey-text, .news-detail .date,
.news-detail h4, .main-work-header h1, .case-studies h1, .sourceBlack {
    font-family: SourceBlack;
}

.services h1, .services h4, .services li, .get-in-touch h1, .our-location h1, .anything-possible h1, .date {
    font-family: SourceSansPro-Bold;
}

.nav.navbar-nav > li {
    border-left: 1px solid #f2f2f2;
}

.one-wold-news h4 {
    height: 40px;
}

.what-we-do h1 {
    font-size: 40px;
}


.service-header h1, .aboutus-header h1, .news-header h1,.main-work-header h1 {
    font-size: 64px !important;
}
.approch-section .font-52{
    font-size: 49px !important;
}

.challenge-solution, .what-we-do, .design, .mobile-development, .five-reasons {
    background-color: #a6a6a6;
}

.service-header, .aboutus-header, .news-header , .main-work-header{
    padding: 140px !important;

}

/*.video {*/
    /*max-height: 300px;*/
/*}*/

.get-to-know h2 {
    font-size: 24px;
}

.navigation li a:hover, .navigation li.active a {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
}

.header {
    /*height: 90px;*/
}

.header .navbar {
    margin-bottom: 0px;
}

.header .navbar-nav > li > a {
    line-height: 40px;
    padding-left: 20px;
    padding-right: 18px;
    color: #fff;
}

.header li.active a {
    background-color: transparent;
    color: rgb(0, 0, 0);
    /*border-bottom: 3px solid rgb(50,155,179);*/
}

.header li a:hover {
    background-color: #a6a6a6;
}

.header {
    padding: 0px 95px 0;
}
.approch-header {
    background: url('../images/approch-header.png');
}
.service-header {
    background: url('../images/searvice_header.png');

}
.approch-header ,.service-header{
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    height: 450px;
}


.news-header {
    background: url('../images/news-header.png') no-repeat;
    background-size: 100% 100%;
    height: 450px;
}

.aboutus-header {
    background: url('../images/aboutus-header.png') no-repeat;
    background-size: 100% 100%;
    height: 450px;
}
#header-video{
    height: 600px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: fill
}

.header-image {
    background: url('../images/header_image.png') no-repeat;
    background-size: 100% 100%;
    /*padding-top: 220px;*/
    height: 600px;
}

.black-button {
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 6px 25px;
}

.blue {
    background-color: #a6a6a6;
}

.blue p {
    color: #fff;
}

.font-18 {
    font-size: 18px;
}

.get-started {
    padding: 20px 0px;
}

.blue-text {
    color: #33a9c5 !important;
}
.margin-left-40{
    margin-left: 40px;
}
.top-space {
    margin-top: 20px;
}

.get-to-know {
    padding: 30px 100px 120px;
}

.full-width {
    width: 100%;
}

.wh-section .col-sm-6 {
    background-size: 100% 100%;
    padding-top: 20px;
    height: 400px;
}

.dark-blue {
    background: url('../images/blue-background.png') no-repeat;
}

.orange {
    background: url('../images/what-small-background.png') no-repeat;
}

.red {
    background: url('../images/how-small-background.png') no-repeat;
}

.green {
    background: url('../images/why-background.png') no-repeat;
}

.top-space {
    margin-top: 20px;
}

.bottom-space {
    margin-bottom: 20px;
}

.white {
    color: #000;
}
.no-border{
    border:none !important;
}

.bottom-section img, .max-full-width,.row.footer {
    max-width: 100%;
}
.full-width{
    width: 100%;
}

.footer {
    border-bottom: 4px solid rgb(49, 143, 170);
    padding: 50px 50px 50px 60px;
    font-family: "OpenSans SemiBold";
}

.blue-background {
    background-color: rgb(255, 255, 255);
}

.get-started button {
    margin-left: 40px;
}

.get-to-know h1 > span, .get-to-know h2, .from-the-work h1 > span, .about-one-world h1 > span, .bold {
    font-weight: 700;
}

.get-to-know h1, .about-one-world h1, .one-wold-news .col-sm-4 {
    padding-bottom: 25px;
}

.grey-text {
    color: rgb(155, 155, 155);
}

.wh-section h1, .wh-section a, .wh-sub-section a {
    font-family: LatoHeavy;
}

.wh-section p, .wh-sub-section p, .wh-sub-section ul {
    font-family: MyriadPro-Regular
}

.wh-section a, .wh-sub-section a, .download-button {
    padding: 5px 20px;
    border-radius: 1px;
    background-color: #fff;
    text-transform: uppercase;
}

.dark-blue a {
    color: rgb(255, 255, 255);
}

.orange a {
    color: #a6a6a6;
}

.red a {
    color: #d4603f;
}

.green a {
    color: #4cad9a;
}

.from-the-work h1, .bottom-section p, .content-part p, .content-part-reverse p, .case-studies h1 {
    padding-bottom: 25px;
    padding-top: 25px;

}

.content-part p, .content-part-reverse p, .content-part ul, .content-part-reverse ul {
    line-height: 1.6em;
}

.bottom-section {
    padding: 90px 20px;
    color: #fff;
    background-color: #000 !important;
}

.workButton {
    border: 1px solid #Fff;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    color: #fff;
    padding: 8px 22px;
    border-radius: 2px;
    margin-top: 20px;
    font-size: 18px;
    background: none;
    font-family: "Helvetica";

}

.font-16 {
    font-size: 16px;
}

.bottom-section a {
    text-decoration: none;
}

.no-top-pad {
    padding-top: 0px !important;
}

.no-bottom-pad {
    padding-bottom: 0px !important;
}

.blue-navigation {
    background: url('../images/blue-navigation-back.png') no-repeat;
    background-size: 100% 100%;
    height: 160px;
}

.what-we-do .com-sm-4 > img {
    height: 165px;
}

.row.zoneme_header.text-center.white, .ivq_header, .kidzjet_header,
.what-we-do, .services, .about-one-world, .five-reasons, .back-button, .approch-section,.work-header {
    padding: 70px 100px;
}

.services .col-sm-4, .services ul {
    padding: 0px !important;
    list-style: none;
}

.services li {
    padding: 5px 0px;
}

.web-development .list-inline.list-unstyled > li, .mobile-development .list-inline.list-unstyled > li {
    margin-right: 50px;
}

.service-contact {
    background: url('../images/service-contact.png') no-repeat;
    height: 250px;
    background-size: 100% 100%;
    padding-top: 50px;
}

.contact-button {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 1px;
}

.get-in-touch {
    padding: 40px 150px;
}

.custom-email {
    border: 1px solid black;
    padding: 3px 15px;
}

.blue-email-button {
    background-color: #a6a6a6
    border-bottom: 3px solid #a6a6a6;
    color: #Fff;
    border-radius: 0px;
    padding: 3px 20px;
}

.width-60 {
    width: 60%;
}

.our-location {
    background: url('../images/our-location-background.png') no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
    /*height: 490px;*/
    padding: 50px;
}

.our-location h3, .main-work-body h4 {
    font-size: 20px !important;
    padding-bottom: 15px;
}

.our-location p {
    font-size: 13px;
}

.our-location .col-sm-4 {
    height: 250px;
    padding: 10px;
}

.our-location .col-sm-4 img {
    padding-top: 15px;
}

.lv, .aa, .slc {
    background-color: #a6a6a6;
}

.sf, .at, .la {
    background-color: #a6a6a6;
}

.our-location h1 {
    margin-bottom: 50px;
    margin-top: 60px;
    padding-bottom: 10px;
}

.our-location h1 span {
    border-bottom: 4px solid #fff;
}

.form-control.custom-input, .download-button ,.custom-dropdown{
    border-radius: 0px;
    border: 2px solid #2e8ca7;

}
.btn.custom-dropdown.white-background {
    height: 34px;
    width: 100%;
    text-align: right;
}
.form-section .caret{
    color: #2e8ca7
}

label.helvetica {
    font-weight: 700;
}

.anything-possible .form-section {
    background-color: #a6a6a6;
}

.form-section {
    padding: 50px 130px 0 60px;
}

.anything-possible > div {
    height: 900px;
    background-color: #a6a6a6;
}

.anything-possible img {
    max-height: 100%;
}

.no-padding {
    padding: 0px !important;
}

.one-wold-news, .news-detail {
    padding: 50px 100px;
}

.one-wold-news h1 {
    padding-bottom: 50px;
}

.row.news-navigation.blue.white.HelveticaMed {
    padding: 15px 130px;
}

.news-detail a {
    text-decoration: none;
}

.back-to-news {
    border: 2px solid black;
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    font-family: SourceBlack;
    font-size: 16px;
}

.video-icon {
    left: 45%;
    position: absolute;
    top: 45%;
}

.wh-sub-section {
    /*background-size: 100% 100%;*/
    /*height: 735px;*/
    padding: 0px 50px;
}
.who-section .content-part{
    background: url("../images/who.png") no-repeat 100% 100%;
    background-position: center center;
}
.how-section .content-part{
    background: url("../images/how-icon.png") no-repeat 100% 100%;
    background-position: center center;
}
.what-section .content-part-reverse{
    background: url("../images/what-icon.png") no-repeat 100% 100%;
    background-position: center center;
}
.why-section .content-part-reverse{
    background:url("../images/why-icon.png") no-repeat center center;
}
.who-section {
    /*background: url('../images/who-section-background.png') no-repeat;*/
    background-color: #a6a6a6;
}

.what-section {
    /*background: url('../images/what-section-background.png') no-repeat;*/
    background-color: #a6a6a6;
}

.how-section {
    /*background: url('../images/how-section-background.png') no-repeat;*/
    background-color: #a6a6a6;
}

.why-section {
    /*background: url('../images/why-section-background.png') no-repeat;*/
    background-color: #a6a6a6;
}

/*.content-part {*/
    /*padding: 70px 145px 70px 0;*/
/*}*/

.no-pad-left {
    padding-left: 0px !important;
}
.no-pad-right{
    padding-right: 0px !important;
}

.left-pad-15 {
    padding-left: 15px;
}

.content-part-reverse {
    /*padding: 70px 0 70px 110px;*/
}

.logo > img, .qet_quote {
    margin-top: 15px;
}

.footer-menu li {

}

.footer-menu li a {
    color: #4d4d4d;
    text-decoration: none;
    padding: 10px;
}

.footer-menu {
    margin-top: 30px;
}

.navigation button {
    border: 2px solid rgb(0, 0, 0);
}

.navigation button span {
    background-color: rgb(0, 0, 0);
}

.lato-Heavy.text-uppercase.bottom-space {
    font-size: 44px !important;
}

.dark-blue p, .red p {
    padding-left: 15%;
}

.orange p, .green p {
    padding-right: 12%;
}

.fa.fa-long-arrow-right {
    padding-left: 5px;
}

.fa.fa-long-arrow-left {
    padding-right: 5px;
}

.approch-section img {
    max-width: 100%;
}

.grey-background {
    background-color: #a6a6a6;
}

.number {
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    color: #313131;
    display: inline-block;
    font-size: 30px;
    height: 49px;
    position: absolute;
    text-align: center;
    width: 50px;
    background: #f7f7f7;
}


.special-list p {
    font-family: helvetica-light;
    font-size: 19px;
    color: #bbbbbb;
}

.content {
    display: inline-block;
    padding-left: 100px;
    width: 90%;
}

.number-special {
    background: url("../images/hover-backgorund.png") no-repeat center;
    color: #fff;
    background-size: 80%;
    /*zoom: 140%;*/
    -moz-transform:  scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    left: 1px;
}
.content-special {
    color: #383838;
    width: 90%;
    /*zoom: 140%;*/
    -moz-transform:  scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    margin-left: -10%;

}
.chrome{
    margin-left: -30px;;
}

.special-list.list-unstyled > p {
    max-width: 90%;
    min-height: 90px;
}

.five-reasons {
    height: 739px;
}
.about-image > img {
    height: 611px;
    width: 518px;
}

.white-background {
    background-color: #fff;
}

.left-20 {
    left: 20%;
}

#letsTalk .form-section,#letsNotTalk .form-section {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0,0,0);
    margin: auto;
    padding: 50px;
}

.let-talk .col-sm-6 {
    /*padding-right: 0px !important;*/
    padding-left: 0px !important;

}
#letsTalk>div ,#letsNotTalk>div{
    width: 90%;
    margin: 0 auto 20px;
}
#letsTalk .modal-content ,#letsNotTalk  .modal-content{
    border-radius: 0;
    background: url('../images/lets-tak-background.jpg') no-repeat 100% 100%;
    background-size: cover;
}
.modal-header{
    border-bottom: none !important;
}
.col-sm-push-2 {
    left: 19%;
}
.screen-shots .col-sm-push-2 {
    left: 19%;
}
.screen-shots .col-sm-10 {
    width: 80.3%
}
.dummy-list{
    height: 444px;
    border-left: 1px solid #d9d9d9;
    position: absolute;
    left: 40px;
}
.new-height{
    height: 400px;
}
.image-sec{
    height: 233px;
    position: absolute;
    right: 23%;
    top: 73%;
    width: 350px;
}
.five-reasons h1{
    margin-top: 0;
    padding-bottom: 40px;
}
.one-wold-news a {
    color: black;
    text-decoration: none;
}
#video >div .close {
    margin-top: -21px;
    margin-right: -10PX;
    opacity: 1;
    padding-left: 5px;
    padding-right: 5px;
}
.left-pad-5{
    padding-left: 5px !important;
}
#newsLetter form{
    padding: 30px 76px;
}
.custom-close{
    border-radius: 4px;
    margin-top: -29px;
    margin-right: -29px;
    background-color: #a6a6a6 !important;
    color: #Fff;
    opacity: 1;
    padding: 1px 5px !important;
    font-weight: 400;
}
